<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>140324721296-bs8gdp1rdmbjlrn3tkg2ihn6mgm3a4gl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.140324721296-bs8gdp1rdmbjlrn3tkg2ihn6mgm3a4gl</string>
	<key>API_KEY</key>
	<string>AIzaSyAXvtzkYVwu3rdzqMvttend5c_sNgovTZE</string>
	<key>GCM_SENDER_ID</key>
	<string>140324721296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chul.TODO</string>
	<key>PROJECT_ID</key>
	<string>ios-todo-12c99</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-todo-12c99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:140324721296:ios:0db2d6efa009610962fe15</string>
</dict>
</plist>